footer {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-right: 32px;
    color: rgb(158, 152, 152);
    background-color: rgb(44, 42, 42);
    text-align: right;
}